html, body{
	background: none;

}
ul{
	display:block;
	padding: 0px 2px;
	overflow-y: visible;
	background-color: #FAFAFA;

}
li {
	display:block;
	height: 47px;
	line-height: 47px;
	padding: 0px 5px;
	/*-webkit-tap-highlight-color:rgba(0, 0, 0, 0);*/
}
/*奇数*/
li:nth-child(odd){
	background-color: rgba(235, 235, 235, 0.5);
}
