	*{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	html, body {
		word-break: normal;
		word-wrap: break-word;
		background: #EFF3F7;
		font: 16px/1.5 'XinGothic-SinaWeibo', 'Microsoft Yahei', 'helvetica', 'arial';
		color: #333;
		font-weight:600;
	}
	.container {
		position: fixed;
		z-index: 100;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display:-webkit-box;
		-webkit-box-align:center;
		-webkit-box-pack: center;
	}
	.error {
		width: 260px;
		height:150px;
		color:black;
		/*box-shadow: 0px 0px 2px #939393;*/
		display:-webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-align:center;
		-webkit-box-pack: start;
		background-color:rgba(0,0,0,0.7);
		border-radius:4px;
	/*	-webkit-border-image:url(../img/btn_04.png) 9/4px stretch;*/
	}
	.title{
		display:block;
		margin:10px auto;
		color:white;
		font-size:16px;
	}
	.info{
		display:block;
		margin:10px auto;
		color:white;
		font-size:13px;
	}
	.btn{
		display:block;
		width:50px;
		margin:10px auto;
		text-align:center;
		color:white;
		-webkit-border-image:url(../img/btn_11.png) 9/4px stretch;
		
	}
	/*.main{
		background: rgba(0,0,0,0.5);
		position:relative;
		width:260px;
		height:150px;
		z-index:-2;
		left:-260px;
		-webkit-border-image:url(../img/btn_04.png) 9/4px stretch;}
		*/
	.selected{
		color:#000;
	}