html{
	height:100%; width:100%;}
body{
	height:100%; width:100%;
	background-image:url(../../img/about_bg.jpg);
	background-repeat:repeat-x;
	background-size:100% 100%;
	background-color:#fff;

}
.list {
	padding:20px 8px 12px 8px;
/*	position:absolute;*/
}
.item {
	position:relative;
	padding:8px 8px;
	border: 1px solid #d5d5d5;
	display:-webkit-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	border-radius:5px;
	background:#fff;box-shadow: 0px 2px 2px #ebebeb;
}
.item:active {
	background-color: rgba(235, 235, 235, 0.3);
	/*border-top: 1px solid rgba(235, 235, 235, 0.1);*/
}
.item .icon {
	position:relative;
	/*box-shadow: 0px 0px 5px #D7D7D7;*/
	/*box-shadow: 0px 0px 3px #ccc;*/
	/*border-radius: 5px;*/
	/*background-color: #ddd;*/
	padding: 2px 0px;
	/*overflow: hidden;*/
	
	display:-webkit-box;
	-webkit-box-pack:start;
	-webkit-box-align:start;
}
.item .icon .new {
	position: absolute;
	top: -10px;
	right: -14px;
	/*margin-left: 3px;*/
	padding: 3px 0;;
	-webkit-border-image: url(../../img/new-count-ico-2.png) 0 12/0 10px;
	font-size: 12px;
	color: white;
}
.item .icon img {
	display:block;
	height:48px;
	width:48px;
	border-radius: 8px;
}
.item .content {
	padding-left:12px;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
}
.item .content .top{
	margin-top:7px;
 	display:-webkit-box;
	-webkit-box-align: center;
	height:20px;
	line-height:20px;
	font-weight:bold;
}

.item .content .bottom {
height:24px;
	line-height:24px;
}
.item .content .name {
	-webkit-box-flex:1;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size:16px;
}
.item .content .msg {
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.item .time {

	margin-left:10px;
 	font-size:12px;
 }
/*
.list .item-selected, .list .item-selected .content .msg, .list  .item-selected .time {
	background-color:#006699;
	color:#FFFFFf
}
*/