@charset "utf-8";
* { margin:0; padding:0;}
html {

	background:white;
}
body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #565656;
	background: #fff;
}
a{ text-decoration:none}
li{ list-style:none;}

.intro{
	display: -webkit-box;
	-webkit-box-pack: start;
	-webkit-box-align: start;
	-webkit-box-sizing:content-box;
	padding:10px 8px;
	position:relative;
}

.qy_logo{
	height: 75px;
	width: 100px;
}

.content{

	padding-left:10px;
    -webkit-box-flex:1;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    height:75px;
}
.content p{
	text-align:left;
	-webkit-box-flex:1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}
.price{

	color:#ff8000;
	font-size:18px;
	font-weight:normal;
	font-family:"微软雅黑";
	margin:6px 0 4px 0;
	-webkit-box-align:end;
}
/**color:#31a864;**/
.ming{

color:#ff8000;
	font-size:18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;}

.ci_name{
	padding:4px 8px;
	font-size:16px;
	color:#31a864;
	padding-left:14px;
	margin:0px 8px 4px 8px;
	background:url(../../img/tback.png) no-repeat center left;
	}
.ci_detail{
	background-color:#f3f3f3;
	font-size:14px;
	padding:10px 8px;
	overflow:hidden;
	text-overflow: ellipsis;
	line-height:21px;
}
