/* CSS Document */
@charset "utf-8";
.login{}
.login figure{margin-top:30px; border-bottom:1px solid #cdcdcd}
.login figcaption{height:48px;	-webkit-box-align:center; display:-webkit-box; border-top:1px solid #cdcdcd; background-color:#fff;}
.login figcaption input{display:block; height:48px; -webkit-box-flex:1;}
.login figcaption img{ width:14px; height:18px; margin:1px 10px 0 20px; }
.login .login_but{ background-color:#1cae42; color:#fff; height:40px; margin:25px 10px; line-height:40px; text-align:center; border-radius:3px; font-size:14px; }
.login .function{display:-webkit-box; margin:0 10px;}
.login .function .p1{-webkit-box-flex:1; color:#1cae42;}
.login .function .p2{color:#1cae42;}

#third{ width:100%; height:110px; margin-top:110px;}
#third ul{ border-bottom:1px solid #ddd; height:10px; }
#third ul li{ background:#f0efed; width:150px; height:20px; line-height:20px; font-size:14px; text-align:center; margin:0 auto;}
#third ul .th_img{ width:100%; margin:0; height:auto; text-align:left;}
#third ul .th_img p{ margin:20px; }
#third ul .th_img p img{ width:48px; height:48px;}